.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  /* left: 50%; */
  top: 50px;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

.header-img {
  width: 550px;
  height: 100%;
  margin: 100px;
}
.header-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.header-text {
  width: 500px;
  margin: 20px;
}
.header-text h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.5rem;
  line-height: 55px;
  color: rgb(43, 40, 40);
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
}
.header-text p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.header-text span {
  color: rgb(211, 46, 46);
  text-decoration: underline;
}


.header-btn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 46, 46);
    color: aliceblue;
    box-shadow: 2px 2px 20px rgb(211, 126, 126);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
    border-radius: 3px;
    text-decoration: none;
}
.header-btn:hover{
    background-color: rgb(85, 14, 14);
}