@import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");
/* Used Google Fonts */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 17px;
  color: #424242;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
.logo-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.logo-container ul li {
  width: 300px;
  height: 120px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  float: left;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container ul li a {
  text-decoration: none !important;
  display: inline-block;
}
.logo-holder {
  text-align: center;
}
/* Logo-7 */
.logo-7 {
  width: 100%;
  display: inline-block;
}
.logo-7 i {
  font-size: 60px;
  display: inline-block;
  margin-right: 5px;
  color: rgb(36, 36, 36);
}
.logo-7 .left {
  float: left;
  margin-left: 10px;
  text-align: left;
}
.logo-7 a {
  color: #545454;
}
.logo-7 .left h3 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  color: #e74c3c;
}
.logo-7 .left p {
  text-align: right;
  font-size: 14px;
  color: #919191;
  font-style: italic;
  border-top: 1px dashed #919191;
  letter-spacing: 2px;
  padding-top: 3px;
  font-family: "Lobster", cursive;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

/* Followed */
.follow {
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.follow img {
  width: 40px;
  height: 40px;
  border: 2px solid #3f51b5;
  border-radius: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  padding: 5px;
  background: #fff;
}

@media only screen and (max-width: 736px) {
  body {
    margin: 0;
    padding: 0;
  }
  .logo-container ul {
    width: 100%;
    text-align: center;
  }
  .logo-container ul li {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .logo-4 p {
    margin-top: 2px;
  }
  .Logos {
    margin-top: 20px;
  }
}

h1.Logos {
  font-weight: 400;
  font-family: "Bangers", cursive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0px #2d303a, -2px -2px 0px #2d303a, -2px 2px 0px #2d303a,
    2px -2px 0px #2d303a;
  color: #fff;
}
p.para {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 30px;
  font-family: "Lora", serif;
  padding-top: 5px;
  color: #333333;
}
